body { 
     width:100%;
     margin:auto;
     font-family: 'Raleway', sans-serif;
     max-width:100%;
     overflow-x:hidden;
}

header{
      background:lightblue;
      width:100%;
}

p{
  text-align:justify;
  padding:5px;
 }

h3,h4{
     font-family: 'Oswald', sans-serif;
   color:grey;
}

h4{
   font-size:18px;
   margin-bottom:0;
}

.quote1{
      background:lightgreen;
}

.quote2{
      background:lightblue;
}

.quote3{
      background:lightpink;
}

.quote-writer{
     text-align:right;
     margin:20px;
     color:rgba(0,0,0,0.4);
     font-size:16px;
}

.title{
      margin:0;
     font-family: 'Oswald', sans-serif;
      padding:20px;
}
 
nav{
      text-align:center;
      background:linen;
      color:rgba(0,0,0,0.5);
}

.subtitle{
      margin:0;
     font-family: 'Oswald', sans-serif;
      padding:15px;
}

section{
      margin:10px;
      padding:0 0 5px 0;
      background:rgba(0,0,0,0.05);
      border-radius:5px;
}

section h4{
      text-align:center;
      margin-top:0;
      line-height:50px;
      width:100%;
      background:lightblue;
      border-radius:5px 5px 0 0;
}

section p{
      margin:20px;
}

article{
      width:68%;
      float:left;
      padding-left:2%;
}

aside{
      width:30%;
      float:right;
}

aside img{
      width:100%;
}

blockquote{
     font-family: 'Oswald', sans-serif;
      padding:20px;
      color:rgba(0,0,0,0.5);
      font-size:18px;
      background:url('../img/quote.png') no-repeat bottom right;
}

footer{
       width:100%;
       float:left;
       padding:30px;
}