body { 
     max-width:100%;
     font-family: 'Raleway', sans-serif;
     background:#eee;
     margin:0;
     padding:10px;
}


/*child of body that contains the content*/
.container{
     width:1024px;
     margin:auto;
     max-width:100%;
     height:100%;
}

a,a:visited{
  color: inherit;
  text-decoration:none;
  text-shadow:1px 1px white;
  font-weight:800;
}

a:hover{
        color:#000;
  text-decoration:none;
}

a:active{
        color:#666;
}

header{
      background:transparent;
      width:100%;
      color:salmon;
}

p{
  text-align:justify;
  padding:5px;
 }

h3,h4{
     font-family: 'Oswald', sans-serif;
   color:grey;
     font-weight:400;
}

h4{
   font-size:22px;
   margin-bottom:0;
}

table{
      width:100%;
      border-collapse:collapse;
}

td{
      border-bottom:1px dashed black;
      padding:10px;
}


/*each quote has different background color*/
.quote1{
      background:lightgreen url('../img/quote.png') no-repeat bottom left 10px;
      background-size:50px;
}

.quote2{
      background:lightblue url('../img/quote.png') no-repeat bottom left 10px;
      background-size:50px;
}

.quote3{
      background:lightpink url('../img/quote.png') no-repeat bottom left 10px;
      background-size:50px;
}


/*the composer of each quote*/
.quote-writer{
     text-align:right;
     margin:20px;
     color:rgba(0,0,0,0.4);
     font-size:16px;
}


/*title of website*/
.title{
      margin:0;
     font-family: 'Oswald', sans-serif;
     font-weight:200;
      padding:20px;
}
 

/*menu of website*/
nav{
      text-align:center;
      background:#ddd;
      line-height: 40px;
      color:#888;
    border-radius: 5px;
      margin:10px;
      font-size:18px;
}

nav a{
    color:#666;
}

nav a:hover{
    color: #222;
}

nav li{
      display:inline;
      margin:0 20px;
}


/*children of article that containes each activity*/
section{
      margin:10px;
      padding:0 0 5px 0;
      background:rgba(0,0,0,0.05);
      border-radius:5px;
}

section h4{
      text-align:center;
      margin-top:0;
      line-height:50px;
      width:100%;
      text-shadow:1px 1px black;
      background:lightblue url('../img/bg.jpg') center right 50px;
      border-radius:5px 5px 0 0;
      color:rgba(255,255,255,0.9);
}

section p{
      margin:20px;
}


/*photos*/
figure{
       font-style:italic;
       text-align:center;
       font-size:14px;
}

figure img{
       max-width:100%;
       margin-top:20px;
}

article{
      width:68%;
      float:left;
      padding-left:2%;
    text-align: center;
}

video{
      margin-bottom:10px;
      width: 100%;
}


/*side container*/
aside{
      width:30%;
      float:right;
}

aside img{
      width:100%;
}


/*inspirational quotes*/
blockquote{
     font-family: 'Oswald', sans-serif;
      padding:20px;
      color:rgba(0,0,0,0.5);
      font-size:18px;
}

audio{
      width:100%;
}

video{
      width:90%;
      padding:0 5%;
}

footer{
       width:100%;
       float:left;
}




/*for screens narrower than 900px*/
@media only screen and (max-width:900px){
       
       .quote1,.quote2,.quote3{
             margin:10px 0;
             background-image:none;
       }
       
}


/*for screens narrower than 630px*/
@media only screen and (max-width:630px){
       
       
       aside{
             float:none;
             width:100%;
       }
       
       article{
               float:none;
             width:100%;
       }
       
       section{
               margin:10px 0;
       }
       
       article{
               padding-left:0;
       }
       
}